{% extends "index.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="login-container">
  <div class="login-card">
      
          <h3 class="cinzel">{% trans "Sign Up" %}</h3>
          <p>{% blocktrans %}Welcome to The Castle Hotel! Already have an account? Then please <a href="{{ login_url }} " class="link">sign in instead.</a>.{% endblocktrans %}</p>
      
 
      <form class="login-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup main-button" type="submit">{% trans "Sign Up" %}</button>
      </form>
    
  </div>
</div>
{% endblock content %}
