/* ------------------- GLOBAL STYLES ---------------------- */
body {
    font-family: "Ysabeau Office", sans-serif;
    background-color: rgb(2, 75, 42);
}

a {
    color: #ffffff;
    text-decoration: none;

}

.cinzel {
    font-family: 'Cinzel', serif;
}

i {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;   
    -o-transition: all .5s ease-in-out; 
}

i:hover {
    color: #06b7a8;
}

/* ------------------- Header ---------------------- */
.navbar {
    position: sticky;
    top: 0;
}

.castle-title {
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 0;
}

#slogan {
    padding-left: 35px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-container {
    background-color: rgba(7, 28, 1, 0.7);
}

.nav-link {
    font-size: larger;
    font-weight: 600;
    color:#fafafa;
}

.nav-link:hover {
    font-weight: 900;
    color:#fff;
}

.nav-link:active, .nav-link:visited{
    color:#fafafa 
}

/*---------------------------------------------------------------------- Add class to nav links when pages created-------*/
.nav-link-current {
    font-weight: 800;
}


/* ------------------- Footer ---------------------- */
footer {
    background-color: #013b1b;
    color: #fff;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.footer-item {
    text-align: center;
    font-size: 15px;
}

