{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="parallax-one"></div>


<section name="about" id="about" class="home-section">
    <div class="card">
        <h1>About Us</h1>
        <p>Brothers Simon and Pete bought The Castle together in 2010 and have since started </p>
    </div>
</section>

<div class="parallax-two"></div>

<section name="testimonials" id="testimonials" class="home-section">
    <h1>Testimonials</h1>
    {% for testimonial in testimonials %}
        <div class="card testimonial-card">
            <p>{{ testimonial.user }} wrote: {{ testimonial.content }}</p>
                    <!-- Check if the testimonial is awaiting approval -->
                {% if not testimonial.approved and testimonial.user == user %}
                <p>Awaiting Approval</p>
            {% endif %}

            <!-- Show the edit and delete buttons if the testimonial belongs to the logged-in user -->
            {% if user.is_authenticated and testimonial.user == user %}
                <button class="btn btn-edit">Edit</button>
                <button class="btn btn-delete">Delete</button>
            {% endif %}
        </div>
    {% endfor %}
    
    {% if user.is_authenticated %}
    <h3>Write your Own Testimonial:</h3>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" novalidate>
        {% csrf_token %}
        {{ testimonial_form | crispy }}
        <button type="submit">Submit</button>
    </form>
    {% else %}
    <a href="{% url 'accounts_signup' %}" class="button-text">Sign in to Write Your Own</p>
    {% endif %}
    
</section>

<div class="parallax-three"></div>

<section class="home-section">
    <div class="card" id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.182638604475!2d-3.4235251747823026!3d50.82778086012545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486dbd7b44b78c71%3A0x1cc9e3beabcfa4d6!2sThe%20Castle%20Hotel!5e0!3m2!1sen!2suk!4v1736345226256!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    </section>

<div class="parallax-four"></div>


{% endblock %}
{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}