{% extends "index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="parallax-one"></div>


<section name="about" id="about" class="home-section">
    <h1>About Us</h1>
    <h5>The Owners</h5>
    <div class="about-text">
        <p>Brothers Simon and Pete bought The Castle together in 2010 and have since started 
            Having lived in the area for over a decade, they are well equipped to answer any questions
            you may have and provide recommendations for local walks, activities and restaurants.
        </p>
    </div>
    <h5>The Pub</h5>
    <div class="about-text">
        <p>"Grade II listed former hotel, mostly built in 1835 with a later addition at the front. Three separate rooms some with stone floors and one with a prominent carved stone fireplace enclosing a wood burning stove. It is a friendly locals town pub which supports pool and skittles teams. The guest ales can be local or national with the landlord having access to Greene King one off and seasonal brews."</p>
        <p id="author">- Campaign for Real Ale</p>
    </div>
    <h5>Your Stay</h5>
    <div class="about-text">
        <p>All rooms on offer have been recently refurbished to the highest of standards with your 
            comfort and safety in mind. The rooms are located in a private upstairs area above the pub, 
            and each have their own private ensuite bathroom. Each room has a unique name inspired by
            local beauty spots. Take a look at 
            <a href="{% url 'rooms' %}">our rooms</a> 
            for more information.
        </p>
    </div>
</section>

<div class="parallax-two"></div>

<section name="testimonials" id="testimonials" class="home-section carousel-container">
    <div class="testimonial-carousel">
        <h1>Testimonials</h1>
        {% for testimonial in testimonials %}
            <div class="card testimonial-card">
                <span id="testimonial-user">{{ testimonial.user }} wrote: </span>
                    <div id="testimonial{{ testimonial.id }}" class="testimonial-content">{{ testimonial.content }}</div>
                        <!-- Check if the testimonial is awaiting approval -->
                    {% if not testimonial.approved and testimonial.user == user %}
                    <p id="approval-message">Awaiting Approval</p>
                {% endif %}

                <!-- Show the edit and delete buttons if the testimonial belongs to the logged-in user -->
                {% if user.is_authenticated and testimonial.user == user %}
                    <button class="btn btn-edit" testimonial_id="{{ testimonial.id }}">Edit</button>
                    <button class="btn btn-delete" testimonial_id="{{ testimonial.id }}">Delete</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div id="carousel-navigation">
        <button id="prev-btn" class="carousel-btn"><i class="fa-solid fa-caret-left"></i></button>
        <button id="next-btn" class="carousel-btn"><i class="fa-solid fa-caret-right"></i></button>
    </div>
    
    {% if user.is_authenticated %}
    <h5>Write your Own Testimonial:</h5>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="testimonial-form-container">
        <form id="testimonialForm" method="post" style="margin-top: 1.3em;">
            {% csrf_token %}
            {{ testimonial_form | crispy }}
            <button type="submit" id="submitButton" class="main-button">Submit</button>
        </form>
    </div>
    {% else %}
    <a href="{% url 'account_signup' %}" class="btn main-button button-text">Sign in to Write Your Own</p>
    {% endif %}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete testimonial?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete your testimonial? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    
</section>

<div class="parallax-three"></div>

<section class="home-section" id="map-section">
    <div id="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.182638604475!2d-3.4235251747823026!3d50.82778086012545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486dbd7b44b78c71%3A0x1cc9e3beabcfa4d6!2sThe%20Castle%20Hotel!5e0!3m2!1sen!2suk!4v1736345226256!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>

<div class="parallax-four"></div>


{% endblock %}
{% block extras %}
<script src="{% static 'js/testimonials.js' %}"></script>
<script type="application/javascript" src="{% static 'js/carousel.js' %}"></script>
{% endblock %}